<p>works</p>
<!-- <div class="row">

    <div class="col-xl-12">
        <app-card cardTitle="Return Product Details" [options]="false" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th> Product ID </th>
                <th> Description </th>
                <th> Supplier Name </th>
                <th> HSN Code </th>
                <th> Quantity </th>
                <th> UOM </th>
                <th> Status </th>
                <th> Action </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td> <button> <i class="fa fa-edit"></i> </button> <button> <i class="fa fa-remove"></i> </button> </td>
              </tr>
              </tbody>
            </table>
          </div>
        </app-card>
    </div>

</div> -->
