<div class="row">
    <div class="col-lg-12 text-right">
      <button type="button" class="btn btn-outline-primary" (click)='addforms()'>
        <img src="../../../../../assets/images/plus.png" alt="">
    </button>
    </div>
    
    <div class="col-md-12">  
      <app-card cardTitle="Loan-Account" [options]="false" blockClass="table-border-style">  
        <div class="table-responsive" >  
          <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">  
            <thead>  
              <tr> 
                <th>Date</th>  
                <th>Bank Name</th>
                <th>Account-Holder Name</th> 
                <th>Account Number</th>  
                <th>IFSC-Code</th>
                <th>Branch Name</th> 
                <th>Loan-Type</th>  
                <th>Loan-Period</th>
                <th>Loan-Amount</th> 
                <th>Add-EMI</th>
                <th>Action</th> 
              </tr>  
            </thead>  
            <tbody>
                <tr *ngFor="let data of getCashinhand">
                    <td>{{data.date}}</td>
                    <td>{{data.bankName}}</td>
                    <td>{{data.accountHolderName}}</td>
                    <td>{{data.accountNumber}}</td>
                    <td>{{data.ifscCode}}</td>
                    <td>{{data.bankBranch}}</td>
                    <td>{{data.loanType}}</td>
                    <td>{{data.loanPeriod}}</td>
                    <td>{{data.loanAmount}}</td>
                    <td> <button style="background: none; border: none;" (click)='addEmi(data)'><i style="color: gray ;" class="fas fa-plus"> </i></button></td>
                    <td><button style="background: none; border: none;" (click)='editcashinhand(data)'> <i style="color: #007bff;"class="fa fa-edit">  </i> </button>  &nbsp; 
                      <button style="background: none; border: none;" (click)='deletecashinhand(data._id)'> <i style="color: red;" class="fa fa-trash"> </i> </button>
                    </td> 
                </tr>
            </tbody>
          </table> 
        </div>
      </app-card>
    </div>
    </div>