<div class="row"  [hidden]='val==true'>

    <div class="col-lg-12 text-right">
      <button type="button" class="btn btn-outline-primary" (click)='addform()'>
        <img src="../../../../../assets/images/plus.png" alt="">
    </button>
    <button type="button" class="btn btn-primary"  (click)='exportToExcel(getData)'>Export &nbsp; <i class="fas fa-file-export"></i></button>
    </div>
  
      <div class="col-xl-12">
        <app-card cardTitle="Receipt Order" [options]="false" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
              <tr>
                <th>Select</th>
                <th> Date </th>
                <th>Suppliers</th>
                <th> Invoice Number </th>
                <th> Invoice Amount </th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor='let data of getData'>
                <td><input type="checkbox" (change)='getValue(data,$event.target.checked)'></td>
  
                <td>{{data.supplierDate}}</td>
                <td>{{data.supplierName}}</td>
                <td>{{data.invoiceNo}}</td>
                <td>Rs{{data.invoiceAmount | number:'1.2-2'}}</td>
                <td>
                  <button style="background: none; border: none;" (click)='show(data)'><i style="color: gray;" class="fa fa-eye"></i> </button> &nbsp;&nbsp; 
  
                 <button style="background: none; border: none;" (click)='editPurchase(data)'> <i style="color: #007fbc;" class="fa fa-edit">  </i> </button> &nbsp;&nbsp; 
                    <button style="background: none; border: none;" (click)='DeletePurchase(data._id)'> <i style="color: red;" class="fa fa-trash">  </i> </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
  
  
        </app-card>
      </div>
    </div>
  
    <section class="supplierview"  [hidden]='val==false'>
      <div class="row sviewform">
        <div class="col-lg-2">
          <label for="name"> <b></b> Supplier Name: </label> <br>
    
        </div>
        <div class="col-lg-3">
          <label for="nameans"> {{name}} </label> <br>
    
        </div>
        <div class="col-lg-1">
          <label for="contact"> <b> Date: </b> </label> <br>
    
        </div>
        <div class="col-lg-2">
          <label for="contactans"> {{date}}</label> <br>
    
        </div>
        <div class="col-lg-2">
          <label for="contact"> <b> Invoice-No: </b> </label> <br>
    
        </div>
        <div class="col-lg-2">
          <label for="contactans"> {{invoice}}</label> <br>
    
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="sviewtable">
            <thead>
              <tr>
               
                <th scope="col">itemCode</th>
                <th scope="col">description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let dat of arr'>
                
                <td>{{dat.itemCode}} </td>
                <td>{{dat.description}}</td>
                <td>{{dat.custQuantity}}</td>
                <td>{{dat.total}}</td>
      
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div> <button (click)='back()'>back</button> </div>
      
    </section>
  
  
  