.positive{
    color: rgb(148, 44, 13) !important;
    font-weight: bolder;
  }
  .negative{
    color: rgb(76, 231, 29) !important;
    font-weight: bolder;
  
  }
  .full{
    color: rgb(235, 12, 12) !important;
    font-weight: bolder;
  
  }
  .empty{
    color: rgb(193, 212, 17) !important;
    font-weight: bolder;
  
  }