.supplierview{
    margin: 0 5%;
    padding: 2%;
    background-color: white;
  }
  .sviewtable{
    width: 100%;
    background-color: white;
  }
  .sviewform { color:rgb(80, 76, 76); }
  .sviewtable { margin: 2% 0; }
  .sviewtable th{text-align: center;}
  .sviewtable tr, .sviewtable th, .sviewtable td{
    border: 1px solid gray;
    padding: 0.5% ;
  }