<div class="row"  >
<div class="col-lg-12 text-right">
  <button type="button" class="btn btn-outline-primary" (click)='addforms()'>
    <img src="../../../../../assets/images/plus.png" alt="">
</button>
</div>
<div class="col-md-12">  
  <app-card cardTitle="Cash-In Account" [options]="false" blockClass="table-border-style"> 
    <div class="table-responsive table-container" >  
      <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">  
        <thead>  
          <tr> 
            <th>Account holder name</th>  
            <th>Account number</th>
            <th>Account type</th>   
            <th>Branch</th> 
            <th>IFSC Code</th>
            <th>Bank Name</th>
            <th>Bank Address</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>  
        </thead>  
        <tbody>
            <tr *ngFor="let data of getBankdetails">
                <td>{{data.accountHolderName}}</td>
                <td>{{data.accountNumber}}</td>
                <td>{{data.accountType}}</td>
                <td>{{data.bankBranch}}</td>
                <td>{{data.ifscCode}}</td>
                <td>{{data.bankName}}</td>
                <td>{{data.bankAddress}}</td>
                <td>{{data.amount}}</td>
                <td><button (click)='editBankdetails(data)' style="background: none; border: none;"> <i style="color: #007bff;" class="fa fa-edit">  </i>  </button> &nbsp;
                    <button (click)='deleteBankdetails(data._id)' style="background: none; border: none;"><i class="fa fa-trash" style="color: red;"> </i> </button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
</div>