.mobile-menu img
{
    height: 60px;
    height: 60px;
}
.collapse-sdk{
    padding: 5px 7px;
    background-color: #7CC0DA;
    border-radius: 10px;
}
.collapse-sdk img{
    height: 30px;
    width: 26px;
}