input[type="date"]::-webkit-clear-button {
    display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2C3E50;
}
/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95A5A6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:3px solid #ECF0F1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}
input[type="date"], focus {
    color: #95A5A6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.dated{
    text-align: right; padding-bottom: 12px;
}