<div class="row">

  <div class="col-lg-12 text-right">
    
    <button type="button" class="btn btn-primary"  (click)='exportToExcel(datefilter)'>Export &nbsp; <i class="fas fa-file-export"></i></button>
  </div>
  

  <div class="col-xl-12">
    <app-card cardTitle="Stock Inward" [options]="false" blockClass="table-border-style">
      <div class="dated" >
        <label>From Date: &nbsp;</label>  <input type="date" [formControl]="fromdate" (change)='from($event.target.value)'>
        <label>To Date: &nbsp;</label>  <input type="date" [formControl]="enddate" (change)='to($event.target.value)'>
        </div>
      <div class="month" style="text-align: right; "> <b style="color: black;">Select Month</b>
        <select (change)="setchange($event.target.value)" style="width: 183px; height: 30px;">
            <option  value='January'>January</option>
            <option value='February'>February</option>
            <option value='March'>March</option>
            <option value='April'>April</option>
            <option value='May'>May</option>
            <option value='June'>June</option>
            <option value='July'>July</option>
            <option value='August'>August</option>
            <option value='September'>September</option>
            <option value='October'>October</option>
            <option value='November'>November</option>
            <option  value='December'>December</option>
            </select> 
      </div>
      <div class="table-responsive" [hidden]='key==true'>
        <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>Select</th>
           <th>Date</th>
           <th> Item Code </th>
            <th> Item Description </th>
            <th> Quantity </th>

            <!-- <th> Unit Rate </th>
            <th>Total(without Tax)</th>
            <th> CGST </th>
            <th> SGST </th>
            <th> Invoice Total </th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let data of datefilter'>
            <td><input type="checkbox" (change)='getValue(data,$event.target.checked)'></td>

            <td>{{data.invDate}}</td>
            <td>{{data.itemCode}} </td>
            <td> {{data.description}} </td>
            <td> {{data.custQuantity}} </td>

            <!-- <td> {{data.unitRate }} </td>
            <td> {{data.total}}</td>
            <td> {{data.CGST}} </td>
            <td> {{data.SGST}} </td>
            <td> {{data.invoiceTotal}} </td> -->
          </tr>
          </tbody>
        </table>
      </div>

      <div class="row">

      
        <div class="col-xl-12">
      
      
        <div class="table-responsive" *ngIf='key'>
          <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
            <thead>
            <tr>
              <th>Select</th>
             <th>Date</th>
             <th> Item Code </th>
              <th> Item Description </th>
              <th> Quantity </th>
        
           
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let data of datefilter'>
              <td><input type="checkbox" (change)='getValue(data,$event.target.checked)'></td>

              <td>{{data.invDate}}</td>
              <td>{{data.itemCode}} </td>
              <td> {{data.description}} </td>
              <td> {{data.custQuantity}} </td>
        
            
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
     

    </app-card>
  </div>
</div>



