.project-tab {


}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.receiptaddform{
  margin: 0;
}

::placeholder{ opacity: 0.7;color:gray; }
.receiptaddform input{ font-size: 13px; }
.receiptaddform input,.receiptaddform select, .receiptaddform button{
  padding: 10px;
  margin: 0 0 3%;
  color: rgb(14, 13, 13);
  // color: rgb(245, 146, 17);
  border-radius: 3px;
  width: 100%;
  border: solid 1px #e8e8e8;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.receiptaddform button{
  color: white !important;
  margin: 20% 0 0;
  background-color: rgb(101, 171, 228);
  // background-color: rgb(245, 212, 124);
}
.receiptaddform .clear{ background-color: lightcoral !important; }
.arrayrow{ display:none; }
