<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
      <div class="container">
          <h4 class="thhead">Stock Availability Details</h4>
          <form [formGroup]='stockAva' (ngSubmit)='onSubmit(stockAva.value)'>
          
            <input type="hidden" formControlName='_id'>
            <div class="form-group">
              <label for="email">Item Code:</label>
              <input type="text" class="form-control" placeholder="Enter Item Code" formControlName="itemCode">
            </div>
            <div class="form-group">
              <label for="pwd">Description:</label>
              <textarea type="text" class="form-control" placeholder="Enter Description" formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="pwd">Unit Rate:</label>
              <input class="form-control" placeholder="Enter Unit Rate" formControlName="unitPrice">
            </div>
            <div class="form-group">
              <label for="pwd">UOM:</label>
              <input type="text" class="form-control" placeholder="Enter UOM" formControlName="vom">
            </div>
            <div class="form-group">
              <label for="pwd">Quantity:</label>
              <input type="text" class="form-control" placeholder="Enter Quantity" formControlName="quantity">
            </div>
            <br>
            <div class="text-center">
              <button type="reset" class="btn btn-secondary"> Clear </button>
              <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
          </form>
        </div>

  </div>
</div>
