
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}


	button img{
		height: 15px;
		width: 15px;
	}





	


.table-b tr , .table-b td, .table-b th
{
	border: 1px solid rgb(134, 132, 132);
	text-align: center;
}
body {
	background: #ecf1f5;
	font:14px "Open Sans", sans-serif; 
	text-align:center;
}
.supplierview{
  margin: 0 5%;
  padding: 2%;
  background-color: white;
}
.sviewtable{
  width: 100%;
  background-color: white;
}
.sviewform { color:rgb(80, 76, 76); }
.sviewtable { margin: 2% 0; }
.sviewtable th{text-align: center;}
.sviewtable tr, .sviewtable th, .sviewtable td{
  border: 1px solid gray;
  padding: 0.5% ;
}