
// html{
//     font-size: 10px;
//     font-family: 'Roboto', sans-serif;
// }

// :root{
//     --background-color: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f) 0 50%;
//     --background-size: 300% 300%;
// }

// a{
//     text-decoration: none;
// }

// ul{
//     list-style: none;
// }

// body{
//     background-color: #151515;
// }

// select{
//     padding:10px;
//     width: 110px;
// }
// .title{
//   padding-top: 10px;
// }
// .view-table{
//     background-color: lightgrey;
//     width: 200px;
//     height: 200px;
//     border: 5px solid rgb(73, 235, 227);
//     padding: 5px;
//     margin: 5px;
// }
// .item{
//     background-color: rgb(228, 225, 225);
//     height:100px;
//     width: 150px;
//     margin: 5px;
//     box-shadow: 2px 2px 2px 2px rgb(179, 179, 179);
//   }
//   $pri: #128CFC;
//   $sec: #FFFFFE;
//   $dark-pri: #0B5AA2;
//   * {
//     box-sizing: border-radius;
//     font-family: 'Rubik', sans-serif;
//   }
//   .time{
//     margin-left:-30px;
//   }
//   .items {
//     width: 155px;
//     background: $sec;
//     box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
//     border-top: 10px solid $dark-pri;
//   }
//   .del{
//     margin-left: 20px;
//   }
//   .monthly{
//       padding-bottom: 20px;
//   }
//   .items-head p{
//     padding: 5px 10px;
//     margin: 10px 0;
//     color: #0b0ea2;
//     font-weight: bold;
//     font-size: 15px;
//   }
//   .items-head hr {
//     width: 80%;
//     margin: 0px 30px;
//     border: 1px solid $dark-pri;
//   }
//   .items-body {
//     padding: 0px;
//     margin: 10px;
//     display: grid;
//     grid-gap: 10px;
//   }
//   .items-body-content {
//     padding: 10px;
//     padding-right: 0px;
//     display: grid;
//     grid-template-columns: 10fr 1fr;
//     // background-color: lightblue;
//     font-size: 15px;
//     grid-gap: 10px;
//     border: 1px solid transparent;
//     cursor: pointer;
    
//   }
//   .items-body-content:hover {
//     border-radius: 15px;
//     border: 1px solid $dark-pri;
//   }
//   .items-body-content i {
//     align-self: center;
//     font-size: 15px;
//     color: $dark-pri;
//     font-weight: bold;
//     animation: icon 1.5s infinite forwards;
//   }
//   .col-lg-2{
//  width: 70%;
//   }

//   .positive{
//     color: rgb(148, 44, 13) !important;
//     font-weight: bolder;
//   }
//   .negative{
//     color: rgb(76, 231, 29) !important;
//     font-weight: bolder;
  
//   }
//   .full{
//     color: rgb(235, 12, 12) !important;
//     font-weight: bolder;
  
//   }
//   .empty{
//     color: rgb(193, 212, 17) !important;
//     font-weight: bolder;
  
//   }

/* generic */

body {
  background-color:#eee;
  color:#444;
  font-family:sans-serif;
}

.list ul:nth-child(odd) {
  background-color:#ddd;
}

.list ul:nth-child(even) {
  background-color:#fff;
}

/* big */
@media screen and (min-width:600px) {
  
  .list {
    display:table;
    margin:1em;
  }
 
  .list ul {
    display:table-row;
  }
  
  .list ul:first-child li {
    background-color:#444;
    color:#fff;
  }
  
  .list ul > li {
    display:table-cell;
    padding:.5em 1em;
  }
  
}

/* small */
@media screen and (max-width:599px) {
  
  .list ul {
    border:solid 1px #ccc;
    display:block;
    list-style:none;
    margin:1em;
    padding:.5em 1em;
  }
  
  .list ul:first-child {
    display:none;
  }
  
  .list ul > li {
    display:block;
    padding:.25em 0;
  }
  
  .list ul:nth-child(odd) > li + li {
    border-top:solid 1px #ccc;
  }
  
  .list ul:nth-child(even) > li + li {
    border-top:solid 1px #eee;
  }
  
  .list ul > li:before {
    color:white;
    content:attr(data-label);
    display:inline-block;
    font-size:75%;
    font-weight:bold;
    text-transform:capitalize;
    vertical-align:top;
    width:50%;
  }
  
  .list p {
    margin:-1em 0 0 50%;
  }
  
}

/* tiny */
@media screen and (max-width:349px) {
    
  .list ul > li:before {
    display:block;
  }
  
  .list p {
    margin:0;
  }
  
}


.positive{
  color:  rgb(204, 174, 3) !important;
  font-weight: bolder;
  border: 2px solid  rgb(204, 174, 3);
}
.negative{
  color:rgb(9, 26, 172) !important;
  font-weight: bolder;
  border: 2px solid  rgb(9, 26, 172);
}
.full{
  color: rgb(243, 9, 9) !important;
  font-weight: bolder;
  border: 2px solid  rgb(243, 9, 9);
}
.empty{
  color: rgb(33, 194, 33) !important;
  font-weight: bolder;
  border: 2px solid  rgb(7, 247, 7);
}
